.speedDial {
    position: fixed;
    right: 3vmax;
    top: 3vmax;
  }
  
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }


  .navigation__checkbox {
    position: fixed;
    top: 2rem;
    left: 3rem;
    opacity: 0;
  }
  
  .navigation__button {
    background-color: transparent;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    position: fixed;
    top: 2rem;
    left: 3rem;
    z-index: 2000;
    color: transparent;
    text-align: center;
    cursor: pointer;
  }
  
  .navigation__background {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    position: fixed;
    top: 2.5rem;
    left: 3.5rem;
    /* background-image: radial-gradient(#7ed56f, #28b485); */
    background-color: transparent;
    z-index: 1000;
    /* -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); */
    transition: .8s;
  }
  
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
  }
  
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
  
  .navigation__item {
    margin: 1rem;
  }
  
  /* .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 220%;
    -webkit-transition: all .4s;
    transition: all .4s;
  } */

  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-family: "Roboto";
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    background-size: 220%;
    -webkit-transition: all .4s;
    transition: all .4s;
  }
  
  /* .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block;
  } */
  
  /* .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #55c57a;
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  } */
  
  .navigation__checkbox:checked ~ .navigation__background {
    background-image: radial-gradient(#dd2476,#ff512f);
    -webkit-transform: scale(80);
            transform: scale(80);
  }
  
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
  }
  
  .navigation__icon {
    position: relative;
    margin-top: 1.8rem;
  }
  
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2.5rem;
    height: 2px;
    background-color: rgb(189, 36, 36);
    display: inline-block;
  }
  
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
  }
  
  .navigation__icon::before {
    top: -.7rem;
  }
  
  .navigation__icon::after {
    top: .7em;
  }
  
  .navigation__button:hover .navigation__icon::before {
    top: -.9rem;
  }
  
  .navigation__button:hover .navigation__icon::after {
    top: .9rem;
  }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
  }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    background-color: #fff;
    top: 0;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    background-color: #fff;
    top: 0;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }